In [1]:
import pandas as pd

In [2]:
pricing = pd.read_csv('pricing.csv')

In [3]:
pricing.head()

        Date     Product  Price  Sales
0  11/5/2020       Juice      6    150
1  11/5/2020  Chocolates     10     61
2  11/5/2020      Shirts     40     30
3  11/5/2020       Bread     10     98
4  11/6/2020       Juice      6    186